.chess-board {
    @include e("container") {
        height: calc(100vh - 2 * $padding-medium);
        width: max-content;

        padding: $padding-medium;
        margin: 0 auto;
    }

    @include e("row") {
        display: flex;
        height: calc(100% / 8);
    }

    @include e("square") {
        height: 100%;
        aspect-ratio: 1;
        /* disable any native browser highlighting */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include m("dark") {
            background-color: $color-dark;
        }

        @include m("light") {
            background-color: $color-light;
        }

        @include m("selected") {
            @include box-shadow-selected;
        }

        @include m("valid") {
            @include box-shadow-valid;

            &:hover {
                @include box-shadow-hover;
            }
        }

        @include m("hover") {
            @include box-shadow-hover;
        }
    }

    @include e("piece") {
        height: 100%;
        width: 100%;
    }
}
