.main {
    display: flex;
    align-items: center;
    gap: $gap-default;
    background-color: $color-background;

    .hidden {
        display: none !important;
    }

    .new-game {
        flex: 1;
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap-default;
        color: $color-white;
        font-size: $font-size-medium;
        font-weight: bold;
        text-transform: uppercase;

        @include e("button") {
            width: 100%;
            padding: $padding-default;
            border-radius: $border-radius-default;
            border: none;
            background-color: $color-primary;
            color: $color-white;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: $color-hover;
            }
        }

        @include e("input") {
            width: 100%;
            padding: $padding-default;
            border-radius: $border-radius-default;
            background-color: $color-white;
            cursor: pointer;
        }
    }

    .game-info {
        width: 100%;
        max-width: 600px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: $gap-default;
        padding: $padding-default;
        border-radius: $border-radius-default;
        background-color: $color-white;
        color: $color-primary;
        font-size: $font-size-medium;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;

        @include e("player") {
            width: 100%;
            display: flex;

            justify-content: space-between;
            align-items: center;
        }

        @include e("status") {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gap-default;

            @include e("text") {
                font-size: $font-size-medium;
                font-weight: normal;
                text-transform: uppercase;

                @include m("winner") {
                    color: $color-primary;
                    font-weight: bold;
                }

                @include m("draw") {
                    color: $color-secondary;
                }
            }
        }

        @include e("buttons") {
            display: flex;
            align-items: center;
            gap: $gap-default;
        }

        @include e("button") {
            width: 100%;
            padding: $padding-default;
            border-radius: $border-radius-default;
            border: 1px solid $color-primary;
            background-color: $color-white;
            color: $color-primary;
            font-size: $font-size-default;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;

            display: flex;
            gap: $gap-default;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: $color-hover;
                color: $color-white;
            }
        }

        @include e("history") {
            width: 100%;
            max-height: 300px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gap-default;
            font-size: $font-size-small;
            color: $color-black;

            @include e("item") {
                display: flex;
                align-items: center;
                gap: $gap-large;

                @include e("button") {
                    padding: $padding-default;
                    border-radius: $border-radius-default;
                    font-size: $font-size-default;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;

                    &:hover {
                        background-color: $color-hover;
                        color: $color-white;
                    }
                }
            }
        }
    }
}
