.main {
    display: flex;
    align-items: center;
    gap: $gap-default;
    background-color: $color-background;

    .hidden {
        display: none !important;
    }

    .new-game {
        flex: 1;
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap-default;
        color: $color-white;
        font-size: $font-size-medium;
        font-weight: bold;
        text-transform: uppercase;

        @include e("button") {
            width: 100%;
            padding: $padding-default;
            border-radius: $border-radius-default;
            background-color: $color-primary;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: $color-hover;
            }
        }

        @include e("input") {
            width: 100%;
            padding: $padding-default;
            border-radius: $border-radius-default;
            background-color: $color-white;
            cursor: pointer;
        }
    }

    .game-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: $gap-default;

        @include e("container") {
            width: 100%;
            max-width: 500px;
            align-self: flex-start;
            padding: $padding-default;
            border-radius: $border-radius-default;
            background-color: $color-white;
            color: $color-primary;
            font-size: $font-size-medium;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
        }

        @include e("player") {
            width: 100%;
            display: flex;

            justify-content: space-between;
            align-items: center;
        }
    }
}
