// colors
$dark-square-color: #b58863;
$light-square-color: #f0d9b5;

// padding
$padding-xsmall: 5px;
$padding-small: 10px;
$padding-default: 20px;
$padding-medium: 25px;
$padding-large: 40px;
$padding-xlarge: 70px;

// margins
$margin-default: 16px;
$margin-medium: 32px;
$margin-large: 48px;

// breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
