.chess-board {
    --player-controls-height: 120px;
    --board-size: max(200px, min(calc(100vh - var(--player-controls-height)), 90vw));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: $padding-large 0;
    box-sizing: border-box;

    @include respond-to("medium") {
        height: 100vh;
        padding: 0;
    }

    @include e("player-name") {
        all: unset;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        max-width: var(--board-size);
        font-size: clamp($font-size-default, 4vw, $font-size-large);
        padding: $padding-default;
        margin: 0 auto;

        @include m("reverse") {
            transform: rotate(180deg);
        }
    }

    @include e("container") {
        width: var(--board-size);
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $gap-default;
        // transition: transform 2s ease-in-out;

        @include m("reverse") {
            transform: rotate(180deg);
        }
    }

    @include e("board-container") {
        height: var(--board-size);
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    @include e("row") {
        display: flex;
        height: calc(100% / 8);
    }

    @include e("square") {
        height: 100%;
        aspect-ratio: 1;
        /* disable any native browser highlighting */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include m("dark") {
            background-color: $color-dark;
        }

        @include m("light") {
            background-color: $color-light;
        }

        @include m("selected") {
            @include box-shadow-selected;
        }

        @include m("last-move") {
            @include box-shadow-last-move;
        }

        @include m("valid") {
            @include box-shadow-valid;

            &:hover {
                @include box-shadow-hover;
            }
        }

        @include m("capturable") {
            @include box-shadow-capturable;

            &:hover {
                @include box-shadow-hover;
            }
        }

        @include m("hover") {
            @include box-shadow-hover;
        }
    }

    @include e("piece") {
        height: 100%;
        width: 100%;

        @include cursor-grab;

        &:active {
            @include cursor-grabbing;
        }

        // transition: transform 2s ease-in-out;

        @include m("reverse") {
            transform: rotate(180deg);
        }

        @include m("checked") {
            @include background-checked;
        }
    }
}
